/* regole generali */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li{
    list-style: none;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: black;
}


/* inizio header */
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* regole di debug */
    background-color: red;
    /* fine debug */
}

.left{
    width: 20%;
    /* regole di debug */
    border: 1px solid;
    /* fine debug */
}


.right{
    width: 50%;
    /* regole di debug */
    border: 1px solid;
    /* fine debug */
}

.left > ul > li,
.right > ul > li{
    display: inline-block;
    position: relative;
}

.dropdown{
    position: absolute;
    top: 20px;
    border: 1px solid;
    display: none;
    min-width: 10px;
}
/* 
.dropdown li{
    padding: 10px 40px;
} */

/* .dropdown.active{
    display: block;

} */

#bottone{
    background-color: crimson;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}